[Unit]
Description=sysextmgr daemon
Documentation=man:sysextmgrd(8)

[Service]
Type=notify
CacheDirectory=sysextmgrd
Environment="SYSEXTMGRD_OPTS="
EnvironmentFile=-/etc/default/sysextmgrd
ExecStart=/usr/libexec/sysextmgrd -s $SYSEXTMGRD_OPTS
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
# With PrivateDevices systemd-dissect --copy-from would require mountfsd
#PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
# With strict systemd-dissect --copy-from would require mountfsd
ProtectSystem=full
ReadWritePaths=/var/lib/sysext-store /etc/extensions
RestrictRealtime=yes
RestrictSUIDSGID=yes
